nav{
    background-color:aqua;
    color: #ffffff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}
nav li a{
    color:black;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px 8px;
}
nav li a:hover{
    color:red;
    text-decoration: none;
}
.a{
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    color: red;
    text-transform: capitalize;
}
.b{
    
    font-size: xx-large;
}
