ul{
    list-style-type: none;
    border: 2px solid green;
    background-color: lightgrey;
}
ul a{
    display: inline;
    color: crimson;
    margin: 10px;
    text-decoration: none;
    font-size: 22px;
    border: 2px solid yellow;
}
ul a:hover{
    color: darkkhaki;
    background-color: darkolivegreen;
    font-size: large;
    
}
ul a:active{
    color: darkviolet;
}