<!DOCTYPE html>
<html>
    <head>
        <title>SVNS FASHIONS | About</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <form action="/auth/about" method="GET"></form>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">svns fashions</h1>
        </header>

        <section class="content-section container">
            <h2 class="section-header">ABOUT</h2>
            <img class="about-band-image" src="Images/download.jpg">
            <p>Since 2020, SVNS Fashions is pleasing its customers by delivering the product as per their specific requirements. We are headquartered at gitam, hyderabad as a Sole Proprietorship (Individual) based entity.</p>
            <p>We provide ready made garments for Men & Kids. Including a wide range of Round neck t-shirts, Polo t-shirts,  Track pants, Kids shorts, Cycling shorts, Corporate t-shirts & lowers, School uniforms and many more.
                we also deals with Cotton single jersey, Interlock Fabric, Cotton lycra rib (Single & Double Rib), Cotton Lycra Fine and Cotton Fine. </p>
        </section>
        
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">SVNS FASHIONS</h3>
                <ul class="nav footer-nav">
                    <li>
                            <img src="Images/YouTube Logo.png">
                    </li>
                    
                    <li>
                        
                            <img src="Images/Spotify Logo.png">
                    
                    </li>
                    <li>
                    
                        <img src="Images/Facebook Logo.png">
                        
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>