<!DOCTYPE html>
<html>
    <head>
        <title>SVNS FASHIONS | Contact</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="style2.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <form action="/auth/about" method="GET"></form>
        <header class="main-header">
            <nav class="nav main-nav">
               <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">svns fashions</h1>
        </header>

        <div class="contact-info">
        <div class="card">
            <i class="icon fas fa-envelope"></i>
            <div class="card-content">
                <h3>Email</h3>
                <span>nandakiran.86@gmail.com</span>
                

            </div>
        </div>

        <div class="card">
            <i class="icon fas fa-phone"></i>
            <div class="card-content">
                <h3>Phone Number</h3>
                <span>7288990644</span>
            </div>
        </div>

        <div class="card">
            <i class="icon fas fa-map-marker-alt"></i>
            <div class="card-content">
                <h3>Location</h3>
                <span>GITAM Rudhraram,Hyderabad</span>
            </div>
        </div>
    </div>
        
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">SVNS FASHIONS</h3>
                <ul class="nav footer-nav">
                    <li>
                            <img src="Images/YouTube Logo.png">
                    </li>
                    
                    <li>
                        
                            <img src="Images/Spotify Logo.png">
                    
                    </li>
                    <li>
                    
                        <img src="Images/Facebook Logo.png">
                        
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>