<!DOCTYPE html>
<html>
    <head>
        <title>Online Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <script src="store.js" async></script>
    </head>
    <body>
        <form action="/auth/store" method="GET"></form>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">Online Clothing Store</h1>
            
        </header>
        <section class="container content-section">
            <h2 class="section-header">SHIRTS</h2>
            <div class="shop-items">
                <div class="shop-item">
            
                    <img class="shop-item-image" src="Images/Album.jpg">
                    <span class="shop-item-title">MEN'S STRIPED SHIRT</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.899</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/Album 2.png">
                    <span class="shop-item-title">Pure Cotton Off Red Shirt</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.675</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/Album 3.png">
                    <span class="shop-item-title">Cotton Plain Mens Black Shirt</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.999</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/Album 4.png">
                    <span class="shop-item-title">Manchester United Shirt</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.700</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">MEN JEANS</h2>
                       <div class="shop-items">
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/Shirt.png">
                    <span class="shop-item-title">Harem Jeans Men</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.400</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/Cofee.png">
                    <span class="shop-item-title">Denim Ankle Band Jeans</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.800</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/co.jpg">
                    <span class="shop-item-title">Mens Skinny Ripped Jeans</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.800</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <img class="shop-item-image" src="Images/pant.jpg">
                    <span class="shop-item-title">Athletic Built-In-Flex Jeans</span>
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs.800</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">Rs.0</span>
            </div>
        <button class="btn btn-primary btn-purchase" type="button"<a href="/payment">PURCHASE</a></button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name"></h3>
                <ul class="nav footer-nav">
                    <li>
                            <img src="Images/YouTube Logo.png">
                    </li>
                    <li>
                        
                            <img src="Images/Spotify Logo.png">
                        
                    </li>
                    <li>
                        
                            <img src="Images/Facebook Logo.png">
                
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
