a{
    color: violet;
}
a:link{
    color: tomato;
    text-decoration: crimson;
    display: inline-block;
    padding-left: 10px;
    text-align: center;
}
a:hover{
    color: turquoise;
    background-color: red;
    font-size: large;
    text-decoration: underline;
    text-align: center;
}
a:active{
    color: blue;
}